pagination-controls::ng-deep {
    ul.ngx-pagination {
        display: flex;
        li:not(.small-screen) {
            width: 55px;
            height: 25px;
            padding: 0px;
            background-color: #e8e8e8;
            cursor: pointer;
            font-family: "Hind";
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            color: #7B7B7B;
            border-bottom: 4px solid #C8C8C8;
            transform: skew(25deg);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 2px;

            >* {
                transform: skew(-25deg);
            }

            a:hover {
                background: transparent;
            }

            &:hover, &.current {
                background: rgba(41, 241, 255, 0.15);
                &.current {
                    border-color: #29F0FF;
                }
            }

            &.ellipsis {
                background: transparent;
                border-color: transparent;
                margin: 0px 12px;
                font-weight: bolder;
                letter-spacing: 10px;
                font-size: 14px;
                margin-left: 36px;
            }
        }
    }
}