<div *ngIf="!article?.meta.fullCustom" class="header-image" [ngStyle]="{'background-image': 'url('+article?.thumbnail+')'}">
    <pulsar-ytembed *ngIf="article?.acf.youtube_id" [ytCode]="article?.acf.youtube_id"></pulsar-ytembed>
</div>