:host() {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;

    .header-image {
        padding-top: 140px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
        overflow: hidden;


        @media only screen and (max-width: 420px) {
            max-height: 50vh;
        }
    }
}