:host() {
    display: flex;
    flex-direction: column;

    div.wrapper {
        width: 1160px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 150px;


        @media only screen and (max-width: 1200px) {
            width: 100%;
        }


        .title-bar {
            width: 100%;
            height: 112px;
            margin-top: -57px;
            margin-bottom: 24px;
            background: var(--featurette-background);
            border: 1px solid var(--cyan);
            border-left: 0px;
            border-right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 66px rgba(16, 32, 110, 0.3);
            position: relative;
            overflow: hidden;
            z-index: 2;
            flex-direction: column;

            .categories {
                a {
                    color: var(--main-text);

                    &:not(:last-of-type):after {
                        content: '//';
                        color: darkgoldenrod;
                        margin: 0px 6px;
                    }
                }
            }


            @media only screen and (max-width: 620px) {
                min-height: 112px;
                height: auto;
                margin: 0px 20px;
                width: calc(100% - 40px);
                margin-top: calc(-25% + 30px);
            }

            h1 {
                font-size: 28px;
                font-weight: 400;
                color: var(--text-cyan);
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-wrap;
                margin-bottom: 0px;

                @media only screen and (max-width: 620px) {
                    font-size: 22px;
                    padding: 0px 20px;
                }
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                left: -25px;
                height: 3px;
                width: 15%;
                transform: skew(45deg);
                background: var(--cyan);
            }
        }

        .content {
            box-shadow: 0px 3px 66px rgba(16, 32, 110, 0.3);
            border: 1px solid var(--cyan);
            background: var(--featurette-background);
            width: 100%;
            position: relative;

            @media only screen and (max-width: 620px) {
                width: calc(100% - 3px);
                margin-top: 40px;
            }

            pulsar-corner {
                position: absolute;

                &.top {
                    top: 0px
                }

                &.bottom {
                    bottom: 0px
                }

                &.right {
                    right: 0px;
                }
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                left: -25px;
                height: 3px;
                width: 25%;
                transform: skew(45deg);
                background: var(--cyan);
            }

            &:before {
                right: 0px;
                left: unset;
            }

            &:after {
                top: unset;
                bottom: 0px;
                left: 0px;
            }

            >div.top {
                >* {
                    display: flex;

                    >* {
                        flex-grow: 1;
                        width: 33%;
                        color: var(--main-text);
                        font-family: "Hind";
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span.by {
                            margin-right: 6px;
                        }
                    }
                }

                >div.line1 {
                    height: 50px;

                    .row.left {
                        display: flex;
                        flex-direction: column;

                        >div {
                            font-size: 11px;
                            line-height: 13px;
                        }

                        >div.main-author {
                            font-size: 15px;
                        }
                    }

                    time {
                        background: var(--time);
                        position: relative;

                        &:after,
                        &:before {
                            content: '';
                            display: block;
                            background: var(--featurette-background);
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            transform: skew(45deg);
                            top: 0px;
                        }

                        &:after {
                            left: -25px;
                        }

                        &:before {
                            transform: skew(-45deg);
                            right: -25px;
                        }


                        @media only screen and (max-width: 620px) {
                            flex-shrink: 0;
                            width: 50%;
                        }
                    }


                    @media only screen and (max-width: 620px) {
                        flex-direction: column-reverse;
                        align-items: center;

                        .right {
                            display: none;
                        }
                    }
                }

                >div.line2 {
                    align-items: center;
                    justify-content: flex-start;


                }

            }

            >pulsar-wordpress-content-wrapper {
                display: block;
                padding: 24px 64px 48px 64px;

                @media only screen and (max-width: 620px) {
                    padding: 24px;
                }

            }
        }

        .related {
            margin-top: 120px;
            margin-left: -120px;
            width: calc(100% + 240px);

            @media only screen and (max-width: 1400px) {
                width: 100%;
                margin-left: 0px;
            }

            h6 {
                color: var(--text-cyan);
                padding-bottom: 6px;
                border-bottom: 4px solid var(--cyan);
                margin-bottom: 12px;
            }

            .list {
                display: flex;
                align-items: center;
                justify-content: space-between;

                >* {
                    width: 30%;
                }
            }


            @media only screen and (max-width: 1200px) {
                .list {
                    flex-wrap: wrap;
                    justify-content: center;
                    >* {
                        width: calc(100% - 80px);
                        margin-bottom: 60px;
                    }
                }
            }

            @media only screen and (max-width: 450px) {
                .list {
                    flex-wrap: wrap;
                    justify-content: center;
                    >* {
                        width: calc(100%);
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}