<pulsar-single-header-image [article]="article$ | async"></pulsar-single-header-image>

<ng-container *ngIf="article$ | async; let article">
    <div class="wrapper" *ngIf="!article.meta.fullCustom">
        <div class="title-bar">
            <h1 [innerHtml]="article?.title.rendered"></h1>

            <div class="categories">
                <ng-container *ngFor="let category of article?.pretty_category">
                    <a [href]="category | categoryLink" *ngIf="category.slug !== 'uncategorized'">
                        {{ category.name }}
                    </a>
                </ng-container>
            </div>
        </div>

        <div class="content">
            <pulsar-corner class="top left"></pulsar-corner>
            <pulsar-corner class="top right"></pulsar-corner>
            <pulsar-corner class="bottom left"></pulsar-corner>
            <pulsar-corner class="bottom right"></pulsar-corner>
            <div class="top">
                <div class="line1">
                    <div class="row left">

                        <ng-container *ngIf="authors$ | async; let authors">
                            <ng-container *ngIf="authors.isTrad; else author">
                                    <div *ngIf="authors.translators.length">
                                        <span class="by">Traduction: </span>
                                        <strong *ngFor="let translator of authors.translators; let isLast=last">{{ translator.name }}{{isLast ? '' : ',  '}}</strong>
                                    </div>
                                    <div *ngIf="authors.proofReaders.length">
                                        <span class="by">Relecture: </span>
                                        <strong *ngFor="let translator of authors.proofReaders; let isLast=last">{{ translator.name }}{{isLast ? '' : ',  '}}</strong>
                                    </div>
                                    <div *ngIf="authors.integrators.length">
                                        <span class="by">Intégration: </span>
                                        <strong *ngFor="let translator of authors.integrators; let isLast=last">{{ translator.name }}{{isLast ? '' : ',  '}}</strong>
                                    </div>
                            </ng-container>
                            <ng-template #author>
                                <div class="main-author">
                                    <span class="by">Publié par </span><strong>{{ authors?.poster?.name }}</strong>
                                </div>
                            </ng-template>
                        </ng-container>

                    </div>
                    <time class="row"><strong>Le
                            {{ article?.date | amParse:'YYYY-MM-DD HH:mm:SS' | amDateFormat:"Do MMMM YYYY" }}
                        </strong></time>
                    <div class="row right">
                        <a *ngIf="article?.meta?.source" mat-icon-button [href]="article?.meta?.source" target="_blank" class="sauce" matTooltip="Article source"><mat-icon>link</mat-icon></a>
                    </div>
                </div>
                <div class="line2">
                    <div class="row categories">
                    </div>
                </div>
            </div>

            <pulsar-wordpress-content-wrapper [content]="article?.content.safe"></pulsar-wordpress-content-wrapper>
        </div>

        <div class="related" *ngIf="relatedArticles$ | async; let relatedArticles">
            <h6>Articles liés</h6>

            <div class="list">
                <pulsar-featurette *ngFor="let related of relatedArticles" [article]="related"></pulsar-featurette>
            </div>
        </div>
    </div>

    <pulsar-wordpress-full-custom [article]="article" *ngIf="article?.meta.fullCustom"></pulsar-wordpress-full-custom>
</ng-container>