:host() {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    .fluid {
        position: relative;
        padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
        height: 0;
        overflow: hidden;
        pointer-events: none;
    
        @media screen and (max-width: 1590px) {
            padding-bottom: 0px;
            height: 100%;
            width: 100%;
            // margin-top: -100vh;
        }
    
        &::ng-deep {
            iframe {
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }
    }
}