.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 500px;
    pulsar-wordpress-content-wrapper {
        display: block;
        max-width: 1300px;
    }
}