<pulsar-page-header [page]="page$ | async"></pulsar-page-header>
<div *ngIf="page$ | async; let page" class="content-wrapper">

    <ng-container  [ngSwitch]="page.slug">
        <pulsar-page-star-citizen [page]="page" *ngSwitchCase="'star-citizen'"></pulsar-page-star-citizen>
        <pulsar-page-changelog *ngSwitchCase="'changelog'"></pulsar-page-changelog>
        <pulsar-wordpress-content-wrapper *ngSwitchDefault [content]="page.content.rendered"></pulsar-wordpress-content-wrapper>
    </ng-container>
</div>