div.socials {
    display: flex;
    color: var(--text-cyan);
    padding-right: 100px;
    justify-content: space-around;
    padding: 12px 0px;
    height: 55px;
    align-items: center;
    background: rgba(0, 0, 0, 0.32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    >a {
        display: inline-block;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}

nav.main-nav {
    a {
        position: relative;
        display: block;
        color: white;
        font-family: 'Electrolize', sans-serif;
        font-weight: 600;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        font-size: 16px;
        height: auto;
        margin: 40px;;
        margin-right: 0px;
        opacity: 0.6;
        transition: 0.5s;
        vertical-align: middle;
        span {
            position: absolute;
            font-family: "Hind";
            top: -20px;
            color: var(--cyan);
            ;
            font-size: 16px;
            left: -13px;
            font-weight: 400;
        }

        &:hover {
            color: var(--text-cyan);
            opacity: 1;
        }

        &.active {
            color: var(--text-cyan);
            opacity: 1;

            &:after {
                content: '';
                background: var(--text-cyan);
                display: block;
                position: absolute;
                width: 5px;
                margin-left: -40px;
                height: calc(100% + 40px);
                right: 0px;
                top: -20px;
            }
        }
    }
}