    <div class="socials">
        <a mat-icon-button target="_blank" href="https://twitter.com/Pulsar42_SC">
            <mat-icon svgIcon="twitter"></mat-icon>
        </a>
        <a mat-icon-button target="_blank" href="https://www.facebook.com/pulsar42.sc/">
            <mat-icon svgIcon="facebook"></mat-icon>
        </a>
        <a mat-icon-button target="_blank" href="https://www.twitch.tv/pulsar42_sc">
            <mat-icon svgIcon="twitch"></mat-icon>
        </a>
        <a mat-icon-button target="_blank" href="http://www.youtube.com/c/PULSAR42">
            <mat-icon svgIcon="youtube"></mat-icon>
        </a>
        <div class="nightToggle" [ngClass]="{ dark: darkTheme$ | async }">
            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>brightness_medium</mat-icon>
            </button>
        </div>
    </div>


    <nav class="main-nav" *ngIf="(menu$ | async); let menu">
            <div class="item" *ngFor="let item of menu.items">
                <a *ngIf="item.routerLink" [routerLink]="item.routerLink" routerLinkActive="active">{{ item.title }}</a>
                <a *ngIf="!item.routerLink" [href]="item.url" target="_blank">{{ item.title }}</a>
    
                <div class="sub-menu" *ngIf="item.child_items && item.child_items.length">
    
                    <div class="link" *ngFor="let subItem of item.child_items">
                        <a [routerLink]="subItem.routerLink" routerLinkActive="active">{{ subItem.title }}</a>
    
                        <ul *ngIf="subItem.child_items">
                            <li *ngFor="let ssItem of subItem.child_items">
                                <a [routerLink]="ssItem.routerLink" routerLinkActive="active">{{ ssItem.title }}</a>
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
        </nav>
