<section class="featured" [style.background-image]="'url('+article?.thumbnail+')'">
    <div class="content" fxLayout="column">
        <h2 class="title">{{ article?.post_title }}</h2>
        <p class="excerpt">{{ article?.post_excerpt }}</p>

        <pulsar-see-more-button [routerLink]="article | articleLink"></pulsar-see-more-button>
    </div>
    <div class="mask"></div>
    <!--<div class="shutter"></div> -->

    <pulsar-ytembed fxShow.lt-md="false" fxShow="true" *ngIf="article?.youtube_id" [ytCode]="article.youtube_id"></pulsar-ytembed>
</section>