section.featured {
    width: 100%;
    height: 650px;
    padding-top: 90px;
    background: grey;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    >div.shutter {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: #202C47;
        transform: skew(15.3deg);
        margin-left: 93px;
        background: linear-gradient(to right, rgba(32, 44, 71, 0) 0%, rgba(32, 44, 71, 0.9) 5px, rgba(35, 52, 91, 0.9) 50%, rgba(38, 60, 110, 0) 100%);
        opacity: 0.8;
        z-index: 0;
    }

    >div.mask {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        top: 0;
        z-index: 2;
        left: 0;
        background: linear-gradient(to top,rgba(30,30,30,0) 0,#161925 50%);
    }

    >div.content {
        z-index: 3;
        color: #fff;
        position: relative;
        padding: 10px 100px;
        padding-bottom: 170px;
        height: 100%;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 425px) {
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 175px;
        }

        h2 {
            font-family: 'Electrolize', sans-serif;
            font-size: 42px;
            font-weight: lighter;
            color: var(--text-cyan);
            text-transform: uppercase;
            line-height: 52px;
            margin-top: 0px;
            letter-spacing: 6px;
            margin-bottom: 10px;
            text-align: center;
            @media only screen and (max-width: 425px) {
                max-width: 100%;
                overflow: hidden;
                overflow-wrap: break-word;
                font-size: 36px;
                line-height: 48px;
                letter-spacing: 2px;
            }
        }

        .excerpt {
            font-family: "Hind";
            max-width: 900px;
            font-size: 14px;
            font-weight: 500;
            line-height: 23px;
            margin-top: 0px;
        }

        pulsar-see-more-button {
            margin-top: 20px;
            position: relative;
            display: block;
        }

        @media only screen and (max-width: 625px) {
            pulsar-see-more-button {
                text-align: center;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        height: 180px;
        width: 100%;
        left: 0px;
        background: linear-gradient(to bottom, rgba(32, 44, 71, 0) 0%, rgba(32, 44, 71, 0) 50%, var(--background-color) 100%);        transition: background 1s linear;
        z-index: 2;
    }

    pulsar-ytembed {
        z-index: 1;
    }
}