@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/Hind-Light.ttf');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Hind-Regular.ttf');
}


@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Hind-Medium.ttf');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Hind-Medium.ttf');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Hind-SemiBold.ttf');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/Hind-Bold.ttf');
}

@font-face {
    font-family: 'Hind';
    font-style: italic;
    font-weight: 800;
    src: url('/assets/fonts/Hind-Bold.ttf');
}

@font-face {
    font-family: 'Electrolize', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/NeogreyRegular.ttf');
}


@font-face {
    font-family: 'Electrolize', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/NeogreyRegular.ttf');
}

// @font-face {
//     font-family: 'Electrolize', sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     src: url('/assets/fonts/NeogreyMedium.ttf');
// }
