
.wrapper {
    width: 100vw;
    max-width: 1700px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-grid-list {
    width: 100%;
    height: 100%;

    div.starcitizen {
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(assets/background/scpole.jpg);
        background-size: cover;
        background-position: center center;
        height: 100%;
        color: white;
        position: relative;
        z-index: 0;

        >* {
            z-index: 0;
            position: relative;
        }


        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(to bottom, #0C1B48 0%, black 100%);
            position: absolute;
            z-index: -1;
            opacity: 0.35;
            transition: 0.5s;
        }
    }
}