<div class="wrapper">
    <mat-grid-list cols="3"  rowHeight="380px" gutterSize='20px'> 
        <mat-grid-tile colspan="1" rowspan="2">
            <div class="starcitizen">
                <h3>BIENVENUE</h3>
                <h4>SUR LE POLE STAR CITIZEN</h4>
                <p>
                    Comprendre les différents aspects de Star Citizen peut s'avérer délicat. Surtout au vu de la multitude
                    d'informations et de la richesse du jeu. Vous trouverez sur ce pôle les différents guides, outils et
                    ressources qui vous permettrons d'y voir plus clair dans Star Citizen.
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let page of (children$ | async)" colspan="2" rowspan="1">
            <pulsar-page-card [page]="page"></pulsar-page-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>