@import '~@angular/material/theming';


.header {
    width: 100%;
    height: 324px;
    position: relative;
    background-image: url(assets/background/search.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;

    .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #0C1B48 0%, black 100%);
        opacity: 0.5;
    }

    .featurettes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 150px;
    }

    .actions {
        width: 100%;
        height: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        z-index: 2;
        margin-top: 220px;

        .inside {
            max-width: calc(1750px - 64px);
            font-family: "Hind";
            width: 100%;
            padding: 0px 32px;

            .left {

                .h2 {
                    color: white;
                    font-family: Electrolize,sans-serif;
                    text-transform: uppercase;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    position: relative;
                    margin-bottom: 11px;
                    display: inline-block;
                    margin-top: 0px;


                    &:after {
                        content: '';
                        position: absolute;
                        width: calc(100% + 50px);
                        height: 9px;
                        background: #00DDEE;
                        bottom: 0px;
                        left: 0px;
                        transform: skew(-45deg) translateX(-9px);
                        bottom: -20px;

                    }
                }
            }
        }
    }
}

.wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;

    >.search-form {
        width: 1160px;
        display: flex;
        flex-direction: column;
    
        align-items: center;
        align-content: center;

        .search-bar::ng-deep {
            width: 100%;

            .burger-menu {
                transition: 0.5s ease-out;
                &.rotate {
                    transform: rotate(90deg);
                }
            }

            .mat-form-field-flex{
                background: white;
                border-radius: 8px 8px 0px 0px;
                @include mat-elevation(5);

                input {
                    height: 30px;
                    margin-top: -20px;
                    padding-top: 0px;
                }
            }

            mat-spinner {
                $size: 30px;
                height: $size !important;
                width: $size !important;

                svg {
                    width: $size !important;
                    height: $size !important;
                }
            }
        }

        mat-toolbar {
            @include mat-elevation(5);
            margin-top: -23px;
            z-index: 3;
            position: relative;
            border-radius: 0px 0px 8px 8px;
            margin-bottom: 23px;
            padding-top: 36px;
            padding-bottom: 16px;
            overflow: hidden;
            // animation: "open-up" 0.5s ease-out 0s 1;
            
            .categories {
                width: 50%;
            }


            @keyframes open-up {
                from {height: 0px;}
                to {height: 164px;}
            }

        }
    }

    .results {
        width: 1160px - 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -25px;

        pulsar-article-card {
            width: calc(50% - 22px);
            margin-bottom: 22px;
        }
    }
}