<div class="header">
    <div class="mask"></div>

    <div class="actions">
            <div class="inside">
                <div class="left">    
                <h2 class="h2">Recherche</h2>
                </div>
                <div class="right"></div>
            </div>
        </div>
</div>

<div class="wrapper">

    <form class="search-form" [formGroup]="form" ngxsForm="search.filters">

        <mat-form-field class="search-bar" appearance="fill">
            <button mat-icon-button matPrefix class="burger-menu" (click)="toggleFilters()" [ngClass]="{ rotate: (state$ | async).displayFilters }">
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <mat-label>Recherche</mat-label> -->
            <input type="search" matInput placeholder="Rechercher sur le site Pulsar42" formControlName="search">
            <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            <mat-spinner matSuffix *ngIf="(state$ | async).fetching"></mat-spinner>
            <button mat-icon-button matSuffix *ngIf="!(state$ | async).fetching" (click)="resetForm()">
                <mat-icon>clear</mat-icon>
            </button>

            <mat-error *ngIf="form.get('search').value">Votre recherche doit contenir 3 charactères</mat-error>
        </mat-form-field>

        <mat-toolbar *ngIf="(state$ | async).displayFilters">
            <mat-toolbar-row>

                <mat-form-field class="categories" appearance="outline">
                    <mat-label>Rechercher dans une catégorie</mat-label>
                    <mat-select formControlName="categories" multiple>
                        <mat-option *ngFor="let category of (categories$ | async)" [value]="category.cat_ID">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-toolbar-row>

            <!-- <mat-toolbar-row>
                <span>Second Row</span>
            </mat-toolbar-row> -->
        </mat-toolbar>

    </form>

    <div class="results">
        <pulsar-article-card *ngFor="let article of (state$ | async).items" [article]="article"></pulsar-article-card>
    </div>

    <!-- | paginate: { id: 'search-pagination',
            itemsPerPage: 12,
            currentPage: pageNumber, totalItems: (itemsNumber$ | async) } -->
    <!-- <pulsar-pagination id="archive-pagination" (pageChange)="pageChange($event)"></pulsar-pagination> -->

</div>