<pulsar-archive-header></pulsar-archive-header>

<div class="wrapper">
    <div class="archive">
        <pulsar-article-card *ngFor="let article of (articles$ | async) | paginate: { id: 'archive-pagination',
        itemsPerPage: 12,
        currentPage: pageNumber, totalItems: (itemsNumber$ | async) }" [article]="article"></pulsar-article-card>
    </div>

<pulsar-pagination id="archive-pagination" (pageChange)="pageChange($event)"></pulsar-pagination>
</div>