.wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .archive {
        max-width: 1750px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 64px;

        >* {
            width: 515px;
            margin: 16px 32px;
        }
    }

    margin-bottom: 800px;
}