* {
    color: var(--main-text);
}

a, a:visited {
    color: var(--text-cyan);
    text-decoration: underline;
}

h1 {
    font-family: "Hind";
    font-weight: normal;
    font-size: 38px;
    line-height: 28px;
    color: #13EAFB;
    color: var(--text-cyan);
}

h2 {
    font-family: "Hind";
    font-weight: normal;
    font-size: 32px;
    line-height: 23px;
    color: #13EAFB;
    color: var(--text-cyan);
}

h3 {
    font-family: "Hind";
    font-weight: normal;
    font-size: 28px;
    line-height: 23px;
}


h4 {
    font-family: "Hind";
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
}


p {
    color: var(--main-text);
    font-size: 16px;
    line-height: 23px;
    text-align: justify;

    @media only screen and (max-width: 420px) {
        text-align: left;
    }
}

img {
    max-width: 100%;
}

.wp-block-image {
    figure {
        margin-top: 0px;
    }
}

.wp-block-column {
    figure {
        margin: 0px;
        iframe {
            width: 100%;
        }
    }
}