.wrapper {
    width: 100vw;
    height: 100vh;
    background: #14141c;
    position: relative;
    box-shadow: 0px 100px 200px 00px #14141c;
    border-bottom: 1px solid var(--background-color-50);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >* {
        z-index: 1;
    }
    h1 {
        color: #dd5250;
        margin-top: -5%;
    }

    h2 {
        color: white;
        font-size: 2rem;
        margin-top: -70px;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background: url(assets/background/404.jpg);
        background-position: center center;
        background-size: cover;
        border-bottom: 1px solid var(--reverse-background-color-50);
        z-index: 0;

    }
}