<div class="wrapper">
    <div class="container">
        <p class="explain">
            Vous trouverez ci-dessous l'intégralité du "changelog" du site Pulsar42.sc.
            <br />L'équipe y liste automatiquement tous les changements effectués sur le site, qu'il s'agisse de petites
            maintenances ou de nouvelles fonctionalités. A chaque fois qu'une nouveauté est déployée sur le site, un nouveau
            numéro de version est ajouté à cette liste, suivi de tous les changements qui l'accompagne. Dans un effort de
            transparence, l'intégralité du code soure est disponible <a href="https://gitlab.com/pulsar42/julie/">à cette
                adresse</a>. Pour chaque changement, un lien est proposé pour accéder aux fichiers changés.
        </p>
    </div>

    <div class="container">
        <pulsar-corner class="top left"></pulsar-corner>
        <pulsar-corner class="top right"></pulsar-corner>
        <pulsar-corner class="bottom left"></pulsar-corner>
        <pulsar-corner class="bottom right"></pulsar-corner>
        <markdown [src]="'CHANGELOG.md'"></markdown>
    </div>
</div>