.wrapper {
    width: 100vw;
    max-width: 1300px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a,
    a:visited {
        color: var(--text-cyan);

        &:hover {
            text-decoration: underline;
        }
    }

    .container {
        background: var(--background-color);
        width: 100%;
        box-shadow: 0px 3px 66px rgba(16, 32, 110, 0.3);
        border: 1px solid var(--cyan);
        background: var(--featurette-background);
        width: 100%;
        padding: 16px 32px;
        margin: 16px;
        position: relative;

        @media only screen and (max-width: 620px) {
            width: calc(100% - 3px);
            margin-top: 40px;
        }

        pulsar-corner {
            position: absolute;

            &.left {
                left: 0px;
            }

            &.top {
                top: 0px
            }

            &.bottom {
                bottom: 0px
            }

            &.right {
                right: 0px;
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: -25px;
            height: 3px;
            width: 25%;
            transform: skew(45deg);
            background: var(--cyan);
        }

        &:before {
            right: 0px;
            left: unset;
        }

        &:after {
            top: unset;
            bottom: 0px;
            left: 0px;
        }


        markdown::ng-deep {
            padding: 0px 32px;
            display: block;
            width: calc(100% - 64px);

            h1 {
                font-size: 3rem;
                border-bottom: 2px dashed var(--text-cyan);
                padding-bottom: 8px;
            }

            h2 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            a,
            a:visited {
                color: var(--text-cyan);
        
                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}