:host() {
    display: contents;
}

.card {
    width: 100%;
    height: 380px;
    display: block;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 3px 66px rgba(16, 32, 110, 0.3);
    color: white;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(to bottom, #0C1B48 0%, black 100%);
        position: absolute;    
        z-index: 1;
        opacity: 0.35;
        transition: 0.5s;
    }   

    &:hover {
        &:before {
            opacity: 0.65;
        }
    }
    .mask {
        position: relative; 
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        >* {
            margin: 0px;
        }
    }

    .bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 40px;
        padding: 15px;
        background: rgba(0,0,0, 0.6);
    }
}