<a [routerLink]="page | pageLink" class="card" [style.background-image]="'url('+page?.uagb_featured_image_src.full[0]+')'">
    <div class="mask">
        <h2 [innerHTML]="page?.title.rendered"></h2>
    </div>
    <div class="bottom" [innerHTML]="page?.excerpt.rendered"></div>
</a>