.header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5)  33%,rgba(0,0,0,0.9)  100%);
    //  var(--background-color);
    position: fixed;
    display: flex;
    align-items: center;
    padding-top: 0px;
    transition: background 0.5s;
    z-index: 90000;


    @media only screen and (max-width: 450px) {
        background: rgba(0, 0, 0, 0.8)
    }

    &:after {
        content:'';
        display: block;
        width:100%;
        height: 10px;
        position: fixed;
        top: 80px;
        left: 0px;
        background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 33%, rgba(0,0,0,0.9)  100%);
        opacity: 0.5;
    }

    >a.logo {
        background-image: url(assets/logo_w.png);
        width: 150px;
        height: 50px;
        background-size: cover;
        margin-left: 70px;
        flex-shrink: 0;

        @media only screen and (max-width: 450px) {
            margin: auto;
        }
    }

    >button.burger {
        color: white;
        margin-left: 26px;
        margin-right: -50px;
    }


    nav.main-nav {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 0px 80px;

        .item {
            height: 100%;
            display: flex;
            align-items: center;
        }

        a {
            position: relative;
            display: block;
            color: white;
            font-family: 'Electrolize', sans-serif;
            font-weight: 600;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
            font-size: 16px;
            height: auto;
            margin: 0px 40px;
            opacity: 0.6;
            transition: 0.5s;
            vertical-align: middle;
            span {
                position: absolute;
                font-family: "Hind";
                top: -20px;
                color: var(--cyan);
                ;
                font-size: 16px;
                left: -13px;
                font-weight: 400;
            }

            &:hover {
                color: var(--text-cyan);
                opacity: 1;
            }

            &.active {
                color: var(--text-cyan);
                opacity: 1;

                &:after {
                    content: '';
                    background: var(--text-cyan);
                    display: block;
                    position: absolute;
                    width: calc(100% + 60px);
                    margin-left: -40px;
                    height: 10px;
                    bottom: -40px;
                    transform: skew(-45deg);
                }
            }
        }

        .sub-menu {
            position: absolute;
            top: 80px;
            left: 0px;
            width: 100%;
            min-height: 150px;
            background: rgba(0,0,0,0.2);
            padding: 30px 5%;
            display: flex;
            z-index: 2;
            flex-direction: row;
            display: none;
            .link {
                flex-grow: 0;
                max-width: 33%;
                a {
                    display: block;
                    background: var(--text-cyan);
                    color: white;
                    padding: 20px;
                    margin: 12px;
                    min-width: 150px;
                    text-align: center;

                    &.active {
                        opacity: 1;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }

        .item:hover {
            .sub-menu {
                display: flex;
            }
        }
    }

    div.socials {
        display: flex;
        color: var(--text-cyan);
        padding-right: 100px;

        >a {
            margin: 0px 6px;
            display: inline-block;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }

    div.nightToggle {
        padding-right: 25px;
        opacity: 0.5;
        color: white;
        &.dark {
            button {
            }
        }
    }

}