:host() {
    display: contents;

    button {
        position: relative;
        border: 0px;
        height: 43px;
        width: 190px;
        outline: none;
        color: var(--background-color);
        font-family: "Hind";
        font-size: 14px;
        line-height: 22px;
        text-transform: lowercase;
        background: transparent;
        letter-spacing: 0.1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.25s ease-in-out;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #00a0dc 0%,#00ddee 100%);
            transform: skew(-45deg);    
            bottom: -1px;
            left: 0px;
            z-index: -1;
            border-bottom: 1px solid #29F0FF;
        }

        &:hover {
            transform: translateX(26px);
        }
    }

    @media only screen and (max-width: 425px) {
        display: none;
    }
}