.wp-block-code {
    font-size: 14px;
    padding: .8em 1em;
    border: 1px solid #e2e4e7;
    border-radius: 4px
}

.wp-block-code,.wp-block-preformatted pre {
    font-family: Menlo,Consolas,monaco,monospace;
    color: #23282d
}

.wp-block-preformatted pre {
    font-size: 16px
}

@media (min-width: 600px) {
    .wp-block-preformatted pre {
        font-size:14px
    }
}

.wp-block-pullquote {
    border-top: 4px solid #555d66;
    border-bottom: 4px solid #555d66;
    color: #40464d
}

.wp-block-pullquote__citation,.wp-block-pullquote cite,.wp-block-pullquote footer {
    color: #40464d;
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal
}

.wp-block-quote {
    border-left: 4px solid #000;
    margin: 20px 0;
    padding-left: 1em
}

.wp-block-quote__citation,.wp-block-quote cite,.wp-block-quote footer {
    color: #6c7781;
    font-size: 13px;
    margin-top: 1em;
    position: relative;
    font-style: normal
}

.wp-block-quote[style*="text-align:right"],.wp-block-quote[style*="text-align: right"] {
    border-left: none;
    border-right: 4px solid #000;
    padding-left: 0;
    padding-right: 1em
}

.wp-block-quote[style*="text-align:center"],.wp-block-quote[style*="text-align: center"] {
    border: none;
    padding-left: 0
}

.wp-block-quote.is-large,.wp-block-quote.is-style-large {
    border: none
}

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid #8f98a1;
    margin: 1.65em auto
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px
}

.wp-block-table {
    width: 100%;
    min-width: 240px;
    border-collapse: collapse
}

.wp-block-table td,.wp-block-table th {
    padding: .5em;
    border: 1px solid;
    word-break: break-all
}
