:host() {
    .corner {
        height: 35px;
        width: 35px;
        overflow: hidden;

        .blue {
            width: 100%;
            height: 100%;
            transform: skew(45deg);
            background: var(--cyan);
            margin-left: -22px;

            .white-wrapper {
                transform: skew(45deg);
                height: 100%;

                .white {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 7.5px 10px 7.5px;
                    border-color: transparent transparent var(--featurette-background) transparent;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .after-wrapper {
        height: 100px;
        position: absolute;
        top: 0px;
        width: 62px;
        left: -22px;
        overflow: hidden;

        .after {
            background: var(--cyan);
            opacity: 0.2;
            width: 10px;
            height: 100px;
            position: absolute;
            right: 20px;
            transform: rotate(45deg);
            top: -27px;
        }
    }

    &.top.left {
        .corner>.blue {
            transform: skew(-45deg);
        }
    }


    &.bottom.left {
        .after-wrapper {
            left: 0px;
            top: -20px;
            .after {
                transform: rotate(-45deg);
                top: -17px;
                right: 40px;
            }
        } 
    }

    &.right {
        .corner>.blue {
            margin-left: 22px;
        }

        .after-wrapper {
            left: unset;
            right: -22px;
            .after {
                transform: rotate(-45deg);
                right: 31px;
            }
        }

        &.bottom {
            .corner>.blue {
                transform: skew(-45deg);
            }

            .after-wrapper {
                right: 0px;
                top: -10px;
                .after {
                    transform: rotate(45deg);
                    right: 12px;
                }
            }
        }


    
    }

}