<div class="corner">
    <div class="blue">
        <!-- <div class="white-wrapper">
            <div class="white"></div>
        </div> -->
    </div>
</div>
<div class="after-wrapper">
    <div class="after"></div>
</div>