<div class="event">
    <div class="left">
        <h4 class="title">{{ event?.post_title }}</h4>
        <div class="details">
            <time> {{ event?.date_start | amDateFormat:'DD MMMM' }}</time>
            <span> {{ event?.city }} </span>
        </div>
    </div>
    <div class="right" [style.background-image]="'url('+event?.thumbnail+')'">
        <span class="before"></span>
        <!-- button class="seeMore"><mat-icon>local_activity</mat-icon> Voir plus d'info</button>-->

    </div>
</div>