:host() {
    width: 100%;
    display: block;
}

div.event {
    display: flex;

    div.left {
        padding: 50px 75px;
        background: var(--card-hover-darker);
        color: var(--card-hover-color);

        h4 {
            margin: 0px;
            font-family: "Hind";
            font-weight: 700;
            font-size: 48px;
            line-height: 73px;
        }

        div.details {
            font-size: 32px;
            line-height: 42px;
            text-transform: capitalize;

            span {
                &:before {
                    content: '//';
                    display: inline-block;
                    color: darkgoldenrod;
                    font-weight: 600;
                    margin-left: 16px;
                }
            }
        }
    }

    div.right {
        overflow: hidden;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 500px;
            left: -390px;
            height: 100%;
            background: var(--card-hover-darker);
            transform: skew(-45deg);
        }

        flex-grow: 1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        button.seeMore {
            position: absolute;
            top: 0px;
            right: 0px;
            font-family: "Hind";
            font-weight: bold;
            color: white;
            font-size: 20px;
            line-height: 32px;
            text-transform: none;
            border: 0px;
            outline: none;
            background: linear-gradient(to bottom, #00a0dc 0%, #00ddee 100%);
            z-index: 1;
            padding: 8px 15px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            mat-icon {

                margin-right: 20px;
                margin-left: -14px
            }

            &:before {
                content: '';
                display: block;
                height: 100%;
                width: 80px;
                background: linear-gradient(to bottom, #00a0dc 0%, #00ddee 100%);
                left: -32px;
                position: absolute;
                transform: skew(-45deg);
                top: 0px;
                z-index: -1;
            }
        }
    }



    @media only screen and (max-width: 425px) {
        & {
            div.left {
                padding: 25px;
                overflow: hidden;
            }
        }
    }

}