header {
    width: 100%;
    height: 480px;
    padding-top: 0px;
    position: relative;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 30px 30px 30px rgba(0,0,0, 0.1);

    &:after {
        content: "";
        display: block;
        transform: skew(45deg);
        background: var(--cyan);
        height: 10px;
        width: 25%;
        bottom: -5px;
        left: 5%;
        position: absolute;
        z-index: 2;
    }

    .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        
        >* {
            z-index: 2;
            position: relative;
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(to bottom, #0C1B48 0%, black 100%);
            position: absolute;    
            z-index: 1;
            opacity: 0.35;
        }

        h1 {
            margin: 0px;
            text-transform: uppercase;
            letter-spacing: 15px;
            color: white;
        }
    }

}