<div class="header">
    <div class="mask"></div>

    <!-- <div class="featurettes">
        <pulsar-featurette *ngFor="let article of (featurettes$ |async)" [article]="article"></pulsar-featurette>
    </div> -->

    <div class="actions">
        <div class="inside">
            <div class="left">
                <div class="breadcrumbs">
                    <a [routerLink]="['/home']">Home</a>
                    <a [routerLink]="['/events/']" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}" *ngIf="(category$ | async)">Evenements</a>
                    <a [routerLink]="" routerLinkActive='active' *ngIf="(category$ | async); let category">{{ category.name }}</a>
                </div>

                <a class="h2" [routerLink]="(category$ | async) ? [] : ['/events']" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">{{ (category$ | async)?.name ? (category$ | async)?.name : "Evenements" }}</a>

            </div>
            <div class="right"></div>
        </div>
    </div>
</div>