.header {
    width: 100%;
    height: 648px;
    position: relative;
    background-image: url(assets/background/archive.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;

    .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #0C1B48 0%, black 100%);
        opacity: 0.5;
    }

    .featurettes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 150px;
    }

    .actions {
        width: 100%;
        height: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        z-index: 2;

        .inside {
            max-width: calc(1750px - 64px);
            font-family: "Hind";
            width: 100%;
            padding: 0px 32px;

            .left {
                .breadcrumbs {
                    color: white;
                    letter-spacing: 0.5px;
                    font-size: 16px;
                    line-height: 34px;

                    a {
                        &.active {
                            color: var(--text-cyan);
                        }

                        &:after {
                            content: '>>';
                            color: var(--text-cyan);
                            display: inline-block;
                            font-size: 1.5em;
                            letter-spacing: -5px;
                            font-weight: 100;
                            vertical-align: middle;
                            margin: 0px 12px;
                        }
                    }

                }

                a.h2 {
                    color: white;
                    font-family: Electrolize,sans-serif;
                    text-transform: uppercase;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    position: relative;
                    margin-bottom: 11px;
                    display: inline-block;
                    margin-top: 0px;


                    &:after {
                        content: '';
                        position: absolute;
                        width: calc(100% + 50px);
                        height: 9px;
                        background: #00DDEE;
                        bottom: 0px;
                        left: 0px;
                        transform: skew(-45deg) translateX(-9px);
                        bottom: -20px;

                    }
                }
            }
        }
    }
}