<a class="article-card" [routerLink]="article | articleLink">
    <div class="image" [ngStyle]="{'background-image': article.thumbnail ? 'url('+article.thumbnail+')' : undefined}">
        <mat-icon *ngIf="!article.thumbnail">photo_camera</mat-icon>
        <mat-icon *ngIf="!article.thumbnail" class="bigger">not_interested</mat-icon>
    </div>

    <div class="right">
        <div class="text">
            <div class="top">
                <time>{{ date | amParse:'YYYY-MM-DD HH:mm:SS' | amTimeAgo }}</time>
                <p class="categories" *ngIf="categories$ | async; let categories">
                    <span *ngFor="let cat of categories"> {{cat.name}} </span>
                </p>
            </div>
            <h4 class="title" [innerHTML]="title"></h4>

            <p class="description" [innerHTML]="excerpt"></p>
        </div>
    </div>
</a>