.article-card {
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 150px;
    cursor: pointer;
    background: var(--article-cards-background);
    background: linear-gradient(to right, var(--article-card-background) 0%, var(--article-card-background) 50%, var(--background-color) 100%);
    border: 2px solid var(--card-border);
    transition: 0.5s background border;

    @media only screen and (max-width: 425px) {
        padding: 0px;
        flex-direction: column;
        height: unset;
    }

    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        border: 0px;
        border-color: var(--card-hover);
        border-style: solid;
        background: transparent;
        opacity: 0.2;
    }

    &:after {
        border-right-width: 2px;
        border-bottom-width: 2px;
        bottom: -2px;
        right: -2px;
    }

    &:before {
        border-left-width: 2px;
        border-top-width: 2px;
        top: -2px;
        left: -2px;
    }

    .image-holder {
        padding: 12px;
        width: 147px;
        height: 147px;
        position: absolute;
        left: -10px;
        top: -10px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            left: -2px;
            top: -2px;
            background-image: url(/assets/article-card-border.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .image {
        width: 150px;
        height: 150px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        background: radial-gradient(ellipse at center, #1e5799 0%, #2466b7 50%, #1e5799 100%);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        >mat-icon {
            position: absolute;
            color: white;
            font-size: 3.5rem;
            width: 3.5rem;
            height: 3.5rem;
            opacity: 1;

            &.bigger {
                font-size: 6rem;
                width: 6rem;
                height: 6rem;
            }
        }

        @media only screen and (max-width: 450px) {
            width: 100%;
        }

    }

    .right {
        display: flex;
        position: relative;
        flex-grow: 1;

        .top {

            align-items: baseline;
            justify-content: space-between;
            display: flex;
            width: 100%;
        }

        .text {
            padding-left: 12px;

            time {
                font-size: 11px;
                font-family: "Hind";
                font-weight: 100;
                line-height: 20px;
                display: block;
                color: var(--main-text);
                flex-shrink: 0;

            }

            .categories {
                margin-top: 0px;
                margin-bottom: 5px;
                line-height: 19px;
                max-height: 19px;
                overflow: hidden;
                text-align: right;

                span {
                    text-transform: capitalize;
                    font-size: 10px;
                    line-height: 19px;
                    font-weight: 400;
                    color: var(--main-text);

                    &:not(:last-of-type) {
                        &::after {
                            content: "//";
                            display: inline-block;
                            color: darkgoldenrod;
                            font-weight: bolder;
                        }
                    }
                }


                @media only screen and (max-width: 425px) {
                    display: none;
                }
            }

            h4.title {
                margin-top: 0px;
                color: var(--text-cyan);
                font-size: 14px;
                line-height: 22px;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
            }

            p.description {
                font-size: 14px;
                line-height: 19px;
                color: var(--main-text);
                font-weight: 400;
                max-height: 3*19px;
                overflow: hidden;
                text-align: justify;
            }


            @media only screen and (max-width: 425px) {
                padding: 12px;
            }
        }

    }

    &:hover {
        background: var(--card-hover);
        border-color: var(--text-cyan);

        .image-holder {
            background: var(--card-hover);
            opacity: 0.9;
        }



        h4.title,
        .categories span,
        p.description,
        time {
            color: var(--card-hover-color) !important;
        }
    }
}