:host() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event {
    padding: 24px;
    width: 100%;
    height: 172px;
    position: relative;    
    background: linear-gradient(to right, var(--article-card-background) 0%, var(--article-card-background) 50%, var(--background-color) 100%);
    border: 2px solid var(--card-border);
    color: var(--main-text);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.25s;


    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        border: 0px;
        border-color: rgb(20,200,255);
        border-style: solid;
        background: transparent;
        opacity: 0.6;
        transition: 0.33s;
    }

    $pos: -2px;
    &:after {
        border-left-width: 2px;
        border-bottom-width: 2px;
        bottom: $pos;
        left: $pos;
    }

    &:before {
        border-right-width: 2px;
        border-top-width: 2px;
        top: $pos;
        right: $pos;
    }

    h3, h4 {
        font-family: "Hind";
        font-size: 31px;
        line-height: 32px;
        margin: 0px;
        font-weight: 500;
    }

    h4.title {
        font-weight: 900;
    }

    time {
        font-size: 22px;
        line-height: 34px;
        font-family: "Hind";
        margin: 0px;
        text-transform: capitalize;
        margin-top: 18px;
    }

    p {
        margin: 0px;
        line-height: 1em;
        text-align: right;
        align-self: flex-end;
        color: darkgoldenrod;
        span, time {    
            color: var(--main-text);
        }
    }


    &:hover {
        background: var(--card-hover-darker);
        border-color: var(--text-cyan);

        h3,h4, p> time,p> span {
            color: var(--card-hover-color);
        }

        &:after,&:before {
            opacity: 1;
        }

        $newpos: -7px;
        &:after {
            bottom: $newpos;
            left: $newpos;
        }

        &:before {
            top: $newpos;
            right: $newpos;
        }
    }


    @media only screen and (max-width: 425px) {
        width: 100%;
        height: 180px;

        &:before {
            background-size: 100% 100%;
        }
    }
}