<div class="event">
    <div class="top">
        <h4 class="title">{{ event?.post_title }}</h4>
        <h3 class="city">{{ event?.type | eventType }}</h3>
    </div>
    <p>
        <time> {{ event?.date_start | amDateFormat:'DD MMMM' }}</time> //
        <span> {{ event?.city }} </span>
    </p>
</div>