<a class="featurette" [routerLink]="article | articleLink">
    <div class="top"  [ngStyle]="{'background-image': 'url('+thumbnail+')'}">
        <div class="border"></div>
    </div>

    <div class="bottom">
        <h4 [innerHTML]="title"></h4>
        <p class="body1" [innerHTML]="excerpt"></p>
        <div class="fill"></div>
        <div class="actions">
            LIRE L'ARTICLE <span></span>
        </div>
    </div>
</a>