a.featurette {
    height: 375px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 3px 66px var(--box-shadow-color);
    cursor: pointer;
    transition: 0.5s;
    display: block;
    background-color: var(--featurette-background);
    transition: background-color 0.5s;
    overflow: hidden;

    div.top {
        position: relative;
        height: 170px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        &:after {
            display: block;
            position: absolute;
            width: 100%;
            content: '';
            display: block;
            height: 3px;
            background: var(--cyan);
            width: 100%;
            margin-top: 10px;
            bottom: -11px;

        }

        div.border {
            display: block;
            position: absolute;
            width: 75px;
            height: 35px;
            transition: background-color 0.5s;
            background-color: var(--featurette-background);
            bottom: -15px;
            right: -30px;
            transform: rotate(-28deg);
            z-index: 2;

            &:after {
                content: '';
                display: block;
                height: 3px;
                background: var(--cyan);
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    div.bottom {
        padding: 28px;
        padding-bottom: 16px;
        display: flex;
        height: 160px;
        flex-direction: column;
        text-align: left;

        h4 {
            color: var(--text-cyan);
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            font-size: 18px;
            margin: 6px 0px;    
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            height: 20px;
            width: 100%;
            white-space: nowrap;
            flex-shrink: 0;
        }

        p {
            color: var(--text-grey);
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.10rem;
            overflow: hidden;
            text-align: justify;
            max-height: 24px*3;
            flex-shrink: 0;
        }



        div.fill {
            flex-grow: 1;
        }

        div.actions {
            font-size: 14px;
            line-height: 22px;
            color: var(--cyan-muted);
            text-align: right;
            font-weight: bold;
            letter-spacing: 2px;
        }

        @media only screen and (max-width: 1500px) {
            height: 80px;
            padding-bottom: 0px;

            div.actions {
                display: none;
            }
        }
    }
}