footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    .adband {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 80px 0px;
    }
    .band {
        display: flex;
        background: linear-gradient(to right, rgba(16,32,110,0) 0%,rgba(29,49,110,0.6) 30%,rgba(38,60,110,0.6) 50%,rgba(29,49,110,0.6) 70%,rgba(16,32,110,0) 100%);        width: 100%;
        min-height: 150px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 80px;
        
        >p {
            text-align: center;
            color: white;
            font-weight: 500;
            max-width: 900px
        }        
    }

    em {
        text-align: center;
        color: var(--background-color);
        font-weight: 500;
        font-size: 11px;
        max-width: 1100px;
        display: block;
    }

}