<pulsar-featured [article]="(state$ | async)?.featured"></pulsar-featured>

<div class="featurettes-wrapper">
    <div class="featurettes"
        fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-between"
        fxLayout.lt-md="column"
    >
        <pulsar-featurette
            fxFlex="1 1 30%"
            fxFlex.lt-md="1 1 100%"
            *ngFor="let featurette of (state$ | async)?.featurettes" [article]="featurette">
            </pulsar-featurette>
    </div>
</div>

<div class="content">
    <section class="news">
        <pulsar-section-separator [routerLink]="['/archive']">Articles</pulsar-section-separator>

        <div class="articles"
            fxLayout="row wrap" fxLayoutGap="50px grid" fxLayoutAlign="left space-around"
            fxLayout.lt-md="column"
            fxLayoutGap.lt-md="25px grid"
        >
            <pulsar-article-card *ngFor="let article of (state$ | async)?.news" [article]="article" fxFlex="33%" fxFlex.lt-md="100%"></pulsar-article-card>
        </div>
    </section>

    <!-- <section class="video">
        <pulsar-section-separator>Vidéos</pulsar-section-separator>
    </section> -->

    <section class="event">
        <pulsar-section-separator>Évenements</pulsar-section-separator>

        <div class="featured">
            <pulsar-event-featured [event]="(state$ | async)?.featured_event"></pulsar-event-featured>
        </div>

        <div class="events" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutAlign="space-between">
            <pulsar-event-card *ngFor="let event of (state$ | async)?.events" fxFlex="25%" [event]="event"></pulsar-event-card>
        </div>
    </section>
</div>