.featurettes-wrapper{
    margin: auto;
    text-align: center;
}

.featurettes {
    margin: auto;
    margin-top: -155px;
    position: relative;
    max-width: 1600px;
    padding: 0 30px;
}

.content{
    margin: auto;
    padding: 0 30px;
    max-width: 1540px;
}

.events  {
    margin: 20px 0px;
}

section {
    margin: 120px 0;
}