:host{
    display: block;
    margin: 20px 40px 20px 0;

    @media only screen and (max-width: 425px) {
        margin-right: 0px;
    }
}

div.bar {
    border-bottom: 1px solid #29F0FF;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    width: calc(100% - 26px);
    .left {
        h3 {
            font-size: 28px;
            line-height: 34px;
            margin: 0px;
            color: var(--main-text);
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 12px;
            padding-left: 6px;
            letter-spacing: 0.1rem;
        }
    }

    .right {
        margin-right: -26px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: calc(100% - 3px);
        background: linear-gradient(to bottom, #00a0dc 0%,#00ddee 100%);
        transform: skew(-45deg);
        bottom: 0px;
        right: -52px;
        z-index: -1;
    }

    @media only screen and (max-width: 425px) {
        width: 100%;
        margin-right: 0px;
        &:after {
            display: none;
        }
    }
}