<div class="bar">
    <div class="left">
        <h3>
            <ng-content></ng-content>
        </h3>
    </div>
    <div class="right">
        <pulsar-see-more-button></pulsar-see-more-button>
    </div>

</div>