/**
* Main typography styles for all of the app
* @see https://material.io/design/typography/the-type-system.html#type-scale
*/


@mixin mat-typo($matSize, $matSpacing) {
  font-size: 0.0625rem * $matSize;
  letter-spacing: letter-spacing($matSpacing, 0.0625*$matSize)
}

@function letter-spacing($tracking, $font-size) {
  @return $tracking / ($font-size * 16) * 1rem;
}

h1 {
  @include mat-typo(96, -1.5);
  font-weight: 400;
}

h2 {
  @include mat-typo(60, -0.5);
  font-weight: 400;
}

h3 {
  @include mat-typo(48, 0);
}

h4 {
  @include mat-typo(34, 0.25);
}

h5 {
  @include mat-typo(24, 0);
}

h6 {
  @include mat-typo(20, 0.15);
  font-weight: 600;
}

.subtitle1 {
  @include mat-typo(16, 0.15);
}

.subtitle2 {
  @include mat-typo(14, 0.1);
  font-weight: 600;
}

.body1 {
  @include mat-typo(16, 0.15);
}

.body2 {
  @include mat-typo(14, 0.25);
}

button {
  @include mat-typo(14, 1.25);
  font-weight: 600;
  text-transform: uppercase;
}

.caption {
  @include mat-typo(12, 0.4);
}

.overline {
  @include mat-typo(10, 1.5);
  text-transform: uppercase;
}
