<ng-container *ngIf="(twitch$ | async); let twitch">
    <a target="_blank" href="https://www.twitch.tv/pulsar42_sc" class="twitchBan" *ngIf="twitch.data && twitch.data[0]">
        <mat-icon svgIcon="twitch"></mat-icon>
        <strong>{{ twitch.data[0].title }}</strong>
    </a>
</ng-container>