.twitchBan {
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80px;
    background: #6441a5;
    color: white;
    width: 100%;
    z-index: 213213123;

    >* {
        margin: 0px 6px;
    }

    mat-icon {
        height: 1em;
        font-size: 1em;
    }


    @media only screen and (max-width: 425px) {
        font-size: 12px;
        mat-icon {
            display:none;
        }
    }

}