:host() {
    &::ng-deep {
        @import 'wp';
        @import 'custom_single/single';
        .alignfull {
            margin: 0px -115px;
            max-width: calc(100% + 300px);
        }
    }
}
