@import '/assets/fonts/fonts';
@import '/assets/typography';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');

html {
    scroll-behavior: auto;
    padding: 0px;
    overflow-x: hidden;
    width: 100vw;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Hind";
    position: relative;
    --cyan-muted: #00BFCE;
    --cyan: #13EAFB;
    transition: background-color 0.7s;
    min-height: 100vh;
    width: 100vw;

    overflow-x: hidden;

    --background-image-color: white;
    --background-color: white;
    --background-color-90: rgba(255, 255, 255, 0.9);
    --background-color-80: rgba(255, 255, 255, 0.8);
    --background-color-70: rgba(255, 255, 255, 0.7);
    --background-color-60: rgba(255, 255, 255, 0.6);
    --background-color-50: rgba(255, 255, 255, 0.5);
    --background-color-40: rgba(255, 255, 255, 0.4);
    --background-color-30: rgba(255, 255, 255, 0.3);
    --background-color-20: rgba(255, 255, 255, 0.2);
    --background-color-10: rgba(255, 255, 255, 0.1);
    --background-color-0: rgba(255, 255, 255, 0);

    --reverse-background-color: rgb(30, 33, 41);
    --reverse-background-color-90: rgba(30, 33, 41, 0.9);
    --reverse-background-color-80: rgba(30, 33, 41, 0.8);
    --reverse-background-color-70: rgba(30, 33, 41, 0.7);
    --reverse-background-color-60: rgba(30, 33, 41, 0.6);
    --reverse-background-color-50: rgba(30, 33, 41, 0.5);
    --reverse-background-color-40: rgba(30, 33, 41, 0.4);
    --reverse-background-color-30: rgba(30, 33, 41, 0.3);
    --reverse-background-color-20: rgba(30, 33, 41, 0.2);
    --reverse-background-color-10: rgba(30, 33, 41, 0.1);
    --reverse-background-color-0: rgba(30, 33, 41, 0);

    --featurette-background: white;
    --box-shadow-color: rgba(16, 32, 110, 0.3);
    --main-text: #3D4456;
    --reverse-main-text: white;
    --article-card-background: #ececec;
    --card-border: #e8f6f9;
    --card-hover: #263C6E;
    --card-hover-darker: #0C1B48;
    --card-hover-color: white;
    --text-cyan: #009ACB;
    --text-grey: #404040;
    --time: #E0F3F5;

    --pagination-background: #F4F4F4;

    &.dark {
        --cyan: #6ccce4;
        --text-cyan: #6ccce4;
        --background-image-color: #000C30;
        --background-color: #14141c;
        --background-color-90: rgba(0, 12, 48, 0.9);
        --background-color-80: rgba(0, 12, 48, 0.8);
        --background-color-70: rgba(0, 12, 48, 0.7);
        --background-color-60: rgba(0, 12, 48, 0.6);
        --background-color-50: rgba(0, 12, 48, 0.5);
        --background-color-40: rgba(0, 12, 48, 0.4);
        --background-color-30: rgba(0, 12, 48, 0.3);
        --background-color-20: rgba(0, 12, 48, 0.2);
        --background-color-10: rgba(0, 12, 48, 0.1);
        --background-color-0: rgba(0, 12, 48, 0);

        --reverse-background-color: white;
        --reverse-background-color-90: rgba(255, 255, 255, 0.9);
        --reverse-background-color-80: rgba(255, 255, 255, 0.8);
        --reverse-background-color-70: rgba(255, 255, 255, 0.7);
        --reverse-background-color-60: rgba(255, 255, 255, 0.6);
        --reverse-background-color-50: rgba(255, 255, 255, 0.5);
        --reverse-background-color-40: rgba(255, 255, 255, 0.4);
        --reverse-background-color-30: rgba(255, 255, 255, 0.3);
        --reverse-background-color-20: rgba(255, 255, 255, 0.2);
        --reverse-background-color-10: rgba(255, 255, 255, 0.1);
        --reverse-background-color-0: rgba(255, 255, 255, 0);

        --featurette-background: #1e1e2a;
        --box-shadow-color: rgba(0, 0, 0, 0.4);
        --main-text: white;
        --reverse-main-text: #3D4456;
        --article-card-background: #1e1e2a;
        --card-border: #0c2748;
        --card-hover: #009ACB;
        --card-hover-color: #000C30;
        --card-hover-darker: white;
        --text-grey: #eeeeee;
        --text-cyan: #13EAFB;
        --time: var(--cyan);


    }

    background-color: var(--background-color);



}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Electrolize', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

mat-sidenav {
    width: 80%;
    max-width: 300px;
    &.mat-drawer {
        background: #14141c;
        color: white;
    }


}

mat-sidenav-container {
    padding: 0px;
    margin: 0px;
    font-family: "Hind";
    position: relative;
    transition: background-color 0.7s;
    min-height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    &.mat-drawer-container {
        background: var(--background-color)
    }
    &:after {
        content: '';
        pointer-events: none;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-image: url(assets/footer2.png);
        background-size: 100%;
        background-position: 0px calc(100% + 500px);
        background-repeat: no-repeat;
        bottom: 0px;
        z-index: -10;

        @media only screen and (max-width: 420px) {
            background-position: bottom;
        }
    }

    mat-sidenav {
        min-height: 100vh;
        position: fixed !important;
    }

}

body.dark {
    mat-sidenav-container {
        &:after {
            background-image: url(assets/footerdark.png);
            background-position: 0px 100%;
        }
    }
}